.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrap {
    margin: 5px;
    padding: 15px;
    width: 350px;

    transform: skew(10deg);
    background-color: grey;
    box-shadow: 5px 2px 2px;
}

.card-date {
    width: 50px;
    transform: skew(10deg);
    color: white;
    background-color: black;
}