.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrap {
    margin: 5px;
    padding: 15px;
    width: 350px;
    -ms-transform: rotateX(20deg);
    /* IE 9 */
    transform: skew(10deg);
    background-color: grey;

}